* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    background-color: white;
    color: black;
    /* text-align: center; */
}
nav {
    background-color: #b1b1b3;
}
main {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}
#top {
    background-color: #b1b1b3;
    width: 100%;
    display: flex;
}
#top > a {
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
    height: 100%;
}
nav > ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-weight: bold;
    text-align: center;
} 
.menuLinks:hover {
    background-color: #959596;
}
@keyframes navHover {
    0% {
        background-color: #959596;
    }
    50% {
        background-color: #eb9b90;
    }
    100% {
        background-color: #f04e45;
    }
}
.menuLinks:active {
    animation-name: navHover;
    animation-duration: 0.5s;
}
/* @keyframes navOnClick {
    50% {
        border-bottom: 0.5px solid #14294b;
    }
} */
/* .selected{
    animation: navOnClick 2s;
} */
.menuLinks  {
    padding: 1rem;
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
a:link{
    color: #527aba;
}
a:visited{
    color: rgb(22, 80, 225);
}
a:hover {
    color: rgb(250, 56, 56);
    transform: scale(0.8);
}
h1::after {
    content: " ";
    height: 0.30rem;
    width: 0.30rem;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 0 0.35rem #6d6d6e;
}
.backgroundImage{
    width: 100%;
    filter: brightness(100%);
}
/* h1 {
    position: relative;
    top: -20rem;
} */
.embed {
    aspect-ratio: 16 / 9;
    width: 100%;
}
.image{
    width: 25%;
}
figcaption {
    font-size: small;
    position: relative;
    left: 1.5rem;
    /* text-align: center; */
    white-space: nowrap;
}
section{
    padding: 2rem;
}
section:last-child{
    background-color: rgb(162, 193, 204);
    color: #0a0a49;
}
footer {
    background-color: #b1b1b3;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
@media (max-width:699px){
    #menu {
        display: none;
    }
    #hamburger {
        background-color: transparent;
        border: none;
        margin-left: 0.5rem;
        position: relative;
        top: -2rem;
        cursor: pointer;
    }
    #logo {
        margin: 1rem 30% 0.5rem;
    }
    #menu {
        flex-direction: column;
    }
    .menuLinks {
        padding: .5rem 1rem;
    }
    #menu.active {
        display: flex;
    }
    nav {
        position: relative;
        top: -2.75rem;
    }
    h1 {
        position: relative;
        top: -10rem;
    }
    #contactContent > p {
        position: relative;
        top: -10rem;
    }
}
@media (min-width: 700px) {
    #hamburger {
        display: none;
    }
    #logo {
        margin: 1.25rem 40%;
    }
    h1 {
        position: relative;
        top: -20rem;
        font-size: 3rem;
    }
    h1::after {
        content: " ";
        height: 0.45rem;
        width: 0.45rem;
        background-color: black;
        border-radius: 50%;
        display: inline-block;
        box-shadow: 0 0 0 0.5rem #79797a;
    }
    #contactContent > p {
        position: relative;
        top: -20rem;
    }
}
#aboutContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;
    width: 100%;
}
.aboutImage {
    width: 100%;
}
form {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
input, textarea, button, fieldset, select {
    margin: 0.25rem;
}
textarea, button, fieldset {
    grid-column-start: 1;
    grid-column-end: 3;
}
#servicesContainer{
    list-style: none;
}
input[type="radio"]{
    color: rgb(7, 6, 6);
    width: 18px;
    height: 18px;
    border: 2px solid #f9f9fb;
    border-radius: 50%;
}
input[type="radio"]:checked{
    background-color: #527aba;
}
input,textarea{
    background-color: #959596;
    color: #527aba;
    font-size: small;
    border: 1px solid #eb9b90;
}
button:hover{
    background-color: #eb9b90;
    color: #f7f4f6;
    border: 1px solid #eb9b90;
}
button:active{
    color: white;
    background-color: black;
    border: 1px solid black;
}
