* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    background-color: #1e3b69;
    color: white;
    font-size: x-large;
    /* text-align: center; */
}
nav {
    background-color: #5a5a5c;
}
main {
    margin-top: 5rem;
    text-align: center;
    /* display: flex;
    flex-direction: row;
    width: 100%; */
}
main > section {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#top {
    background-color: #5a5a5c;
    width: 100%;
    display: flex;
}
#top > a {
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
    height: 100%;
}
nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: bold;
    text-align: center;
} 
.menuLinks:hover {
    background-color: #49494a;
}
@keyframes navHover {
    0% {
        background-color: #49494a;
    }
    50% {
        background-color: #964e45;
    }
    100% {
        background-color: #e82a20;
    }
}
.menuLinks:active {
    animation-name: navHover;
    animation-duration: 0.5s;
}
@keyframes navOnClick {
    50% {
        border-bottom: 0.5px solid #14294b;
    }
}
.selected{
    animation: navOnClick 2s;
}
.menuLinks  {
    padding: 1rem;
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
a:link{
    color: #112647;
}
a:visited{
    color: black;
}
a:hover {
    color: red;
    transform: rotate(1.05turn);
}
h1::after {
    content: " ";
    height: 0.30rem;
    width: 0.30rem;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 0 0.35rem #49494a;
}
.backgroundImage{
    width: 100%;
    filter: brightness(40%);
}
h1 {
    font-weight:bolder;
}
.embed {
    aspect-ratio: 16 / 9;
    width: 100%;
}
.image{
    width: 100%;
}
figcaption {
    font-size: xx-small;
    position: relative;
    left: 1.5rem;
    /* text-align: center; */
    white-space: nowrap;
}
section{
    padding: 2rem;
    margin: 0.5rem;
}
section:last-child{
    background-color: white;
    color: #73737a;
}
footer {
    background-color: #5a5a5c;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
@media (max-width:699px){
    #menu {
        display: none;
    }
    #hamburger {
        background-color: transparent;
        border: none;
        margin-left: 0.5rem;
        position: relative;
        top: -2rem;
        cursor: pointer;
    }
    #logo {
        margin: 1rem 30% 0.5rem;
    }
    #menu {
        flex-direction: row;
    }
    .menuLinks {
        padding: .5rem 1rem;
    }
    #menu.active {
        display: flex;
    }
    nav {
        position: relative;
        top: -2.60rem;
    }
    h1 {
        position: relative;
        top: -12rem;
        font-size: 2rem;
    }
    #contactContent > p {
        position: relative;
        top: -12rem;
    }
}
@media (min-width: 700px) {
    #hamburger {
        display: none;
    }
    #logo {
        margin: 1.25rem 40%;
    }
    h1 {
        position: relative;
        top: -15rem;
        font-size: 4rem;
    }
    h1::after {
        content: " ";
        height: 0.45rem;
        width: 0.45rem;
        background-color: black;
        border-radius: 50%;
        display: inline-block;
        box-shadow: 0 0 0 0.5rem #49494a;
    }
    #contactContent > p {
        position: relative;
        top: -15rem;
    }
}
#aboutContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;
    width: 100%;
}
.aboutImage {
    width: 100%;
}
form {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
input, textarea, button, fieldset, select {
    margin: 0.25rem;
}
textarea, button, fieldset {
    grid-column-start: 1;
    grid-column-end: 3;
}
#servicesContainer{
    list-style: none;
}
input[type="radio"]{
    color: white;
    width: 18px;
    height: 18px;
    border: 2px solid #49494a;
    border-radius: 50%;
}
input[type="radio"]:checked{
    background-color: #49494a;
}
input,textarea{
    background-color: white;
    color: #49494a;
    font-size: small;
}
button:hover{
    background-color: #49494a;
    color: #f7f4f6;
    border: 1px solid #49494a;
}
button:active{
    color: white;
    background-color: black;
    border: 1px solid black;
}